     
<div class="w-full">
    <div class="flex">
        <nav id="sidebarMenu"
            class="area-logada__sidebar .w-1/4 lg:w-1/6 hidden md:block bg-blue-200 sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                
            </div>
        </nav>

        <main class=".col-span-3 ms-sm-auto col-lg-10 px-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="text-2xl">Consultar Pedido</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                </div>
            </div>

            <section class="consultar-pedido">
                <p>Digite o número do pedido:</p>
                <div class="mb-3">
                   <!-- <input type="text" class="w-full py-2 px-3 border rounded-lg" [(ngModel)]="pesquisa" type="number">-->
                   <input type="text" class="w-full py-2 px-3 border rounded-lg" type="number">
                    <button class="bg-blue-500 text-white py-2 px-4 rounded-lg" (click)="pesquisarPedido()" type="button">Pesquisar</button>
                </div>

                <div class="pedido" *ngIf="pedidoEncontrado">
                    <h2 class="pedido__title">Detalhes do pedido:</h2>
                    <div class="pedido__infos">
                        <p><strong>Número do pedido:</strong><!-- {{ pedidoEncontrado.id}}--></p>
                        <p><strong>Status:</strong><!-- {{ pedidoEncontrado.status }}--></p>
                        <p><strong>Prazo:</strong> <!--{{ pedidoEncontrado.prazoEntrega }} {{ pedidoEncontrado.prazoEntrega
                            > 1 ? 'dias' : 'dia'}}--></p>
                            <p><strong>Valor total do pedido:</strong> <!--R$: {{ pedidoEncontrado.valorTotal}}--></p>
                    </div>

                    <div class="container mx-auto">
                        <div class="row">
                            <div class="pecas__tabela">
                                <h3>Pedido:</h3>
                                <table class="min-w-full">
                                    <thead>
                                        <tr>
                                            <th scope="col">Peça de Roupa:</th>
                                            <th scope="col">Valor por peça:</th>
                                            <th scope="col">Quantidade:</th>
                                            <th scope="col">Valor total por peças:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let peca of pedidoEncontrado.pecas; let i = index">
                                            <tr>
                                                <td>{{ peca.nome }}</td>
                                                <td>R$: {{ peca.valor }}</td>
                                                <td>{{ peca.quantidade }}</td>
                                                <td>R$: {{ (peca.valor * peca.quantidade).toFixed(2) }}</td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="pedidoNaoEncontrado">
                    <p>Nenhum pedido encontrado com o número informado.</p>
                </div>

            </section>

        </main>
    </div>
</div>