<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Bem vindo Funcionario</h1>
      <h2 class="sm:text-4xl text-3xl font-small title-font mb-2 text-gray-900">Pedidos abertos</h2>
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">#Nº pedido</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Data</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Valor</th>
            <th class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <tr>
            <td class="px-4 py-3">10</td>
            <td class="px-4 py-3">01/09/2023 12h00min</td>
            <td class="px-4 py-3">R$30,00</td>
            <td class="w-10 text-center">
              <a href="#" title="Alterar pedido para 'RECOLHIDO'" alt="Recolhido" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"> Recolhido</a>
            </td>
          </tr>
          <tr>
            <td class="border-t-2 border-gray-200 px-4 py-3">11</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">01/09/2023 12h30min</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">R$50,00</td>
            <td class="border-t-2 border-gray-200 w-10 text-center">
              <a href="#" title="Alterar pedido para 'RECOLHIDO'" alt="Recolhido" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"> Recolhido
              </a>
            </td>
          </tr>
          <tr>
            <td class="border-t-2 border-gray-200 px-4 py-3">12</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">01/09/2023 12h50min</td>
            <td class="border-t-2 border-gray-200 px-4 py-3">R$43,00</td>

            <td class="border-t-2 border-gray-200 w-10 text-center">
              <a href="#" title="Alterar pedido para 'RECOLHIDO'" alt="Recolhido" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"> Recolhido
              </a>
            </td>
          </tr>
          <tr>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">13</td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">01/09/2023 13h00min</td>
            <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3">R$88,00</td>
            <td class="border-t-2 border-b-2 border-gray-200 w-10 text-center">
              <a href="#" title="Alterar pedido para 'RECOLHIDO'" alt="Recolhido" class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded"> Recolhido
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>




<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">


    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>

          </tr>
        </thead>
        <tbody>

          <tr>

          </tr>
          <tr>

          </tr>
          <tr>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
    </div>
  </div>
</section>