<div class="container mt-5">
  <h1>Lista de Pedidos de Lavagem</h1>
  <ul class="list-group mt-3">
    <li class="list-group-item">
      <h4>Pedido 1</h4>
      <p>Data: 17 de Agosto de 2023</p>
      <p>Itens: 3 peças de roupa</p>
    </li>
    <li class="list-group-item">
      <h4>Pedido 2</h4>
      <p>Data: 18 de Agosto de 2023</p>
      <p>Itens: 5 peças de roupa</p>
    </li>
    <li class="list-group-item">
      <h4>Pedido 3</h4>
      <p>Data: 19 de Agosto de 2023</p>
      <p>Itens: 2 peças de roupa</p>
    </li>
  </ul>
</div>
