<p>rejeitar-orcamento-pedido works!</p>

<div class="wrapper">
  <h1>LOL - Lavanderia On-line</h1>
  <h2>Aprovar Orçamento do Pedido</h2>
  <form action="#">
    <br>
      <label for="valor">Valor do Orçamento:</label>
      <input type="number" id="valor" required>

      <label for="prazo">Prazo do Orçamento:</label>
      <input type="text" id="prazo" required>

      <div class="input-box button">
        <input type="Submit" value="Rejeitar Pedido" [routerLink]="['/home']">
      </div>
    </form>
  <div class="pedidoRejeitado">
    <p>Pedido Número  {{ numeroPedido }} rejeitado com sucesso.</p>
  </div>
</div>

