<div class="container-fluid d-flex justify-content-center">
  <div class="col-11">
    <br>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-8">
        <h1>Pedidos</h1>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 ">
          <label for="incidentTypeId" class="form-label">Status</label>
          <select class="form-select form-control" id="incidentTypeId" name="incidentTypeId"><!-- [(ngModel)]="statusFilter"-->
            <option value="">Selecionar...</option>
            <option value="created">Criado</option>
            <option value="open">Em aberto</option>
            <option value="rejected">Rejeitado</option>
            <option value="canceled">Cancelado</option>
            <option value="collected">Recolhido</option>
            <option value="waiting_payment">Aguardando pagamento</option>
            <option value="paid">Pago</option>
            <option value="finished">Finalizado</option>
          </select>
        </div>
        <br>
        <button type="button" class="btn border border-3"><i class='fa fa-search'></i> Filtrar</button><!-- (click)="filterOrders()"-->
        <button type="button" class="btn btn-danger mx-2"><i class='fa fa-cancel'></i>
          Cancelar</button><!-- *ngIf="filtering" (click)="cancelFilter()"-->
        <br>
        <br>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" *ngIf="true">
          <div class="row g-3 d-flex justify-content-center">
            <div class="col-4 form-group">
              <button #todayButton type="button" class="btn btn-outline-secondary">Pedidos de hoje</button><!-- (click)="filterToday()"-->
            </div>
            <div class="col-4 form-group">
              <button #todayPeriod type="button" class="btn btn-outline-secondary">Período</button><!-- (click)="filterPeriod()"-->
            </div>
            <div class="col-4 form-group">
              <button #todayAll type="button" class="btn btn-secondary">Todos os pedidos</button><!-- (click)="filterAll()"-->
            </div>
          </div>
        </div>
        <br>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4"><!-- *ngIf="filterPeriodOrders"-->
          <div class="row g-5">
            <div class="col-5 form-group">
              <label for="startDate">Data inícial</label>
              <input type="date" class="form-control" id="startDate" name="startDate"><!--(ngModelChange)="setInitialDate($event)" [(ngModel)]="startDate" -->
            </div>
            <div class="col-5 form-group">
              <label for="endDate">Data final</label>
              <input type="date" class="form-control" id="endDate" name="endDate"><!-- (ngModelChange)="setEndDate($event)" [(ngModel)]="endDate"-->
            </div>
          </div>
        </div>
        <br>

      </div>
    </div>
    <br>
    <br>
    <!--<app-orders></app-orders> [orders]="orders"-->
    <br>
  </div>
  <br>
</div>