
<title>Detalhes do Pedido</title>
<body>
<div class="container">
  <h2>Detalhes do Pedido</h2>
  <label for="pedido" class="col-sm-2 col-form-label">Número do Pedido:</label>
  <input #id type="text" id="pedido" placeholder="Digite o número do pedido">
  <button (click)="buscarPedido(id.value)" id="buscarBtn">Buscar</button>
  <p id="mensagem" class="alert-message"></p>
  <div id="detalhes-pedido" class="container-fluid">
    <h3>Detalhes do Pedido</h3>
    <p><strong>Roupas:</strong> Camiseta, Calça, Blusa</p>
    <p><strong>Preços:</strong> R$20, R$30, R$25</p>
    <p><strong>Preço Total:</strong> R$75</p>
    <p><strong>Prazo do Serviço:</strong> 3 dias úteis</p>
    <p><strong>Situação:</strong> Em processamento</p>
  </div>
  <input type="text" [value] = "pedidos" readonly>
</div>


